<div>
	<h2>
	  <a href="<%= team.name %>"><%= team.name %></a>
	</h2>
	<p>
	  <%= team.members %>
	</p>
</div>
<a href="edit/<%=team.name%>" class="btn btn-warning">Edit</a>

<a id="delete-btn" href="/teams/<%=team.name%>" class="btn btn-danger">Delete
</a>
